*~
*.pyc

build/
dist/

examples/*ipynp*

.eggs/*
*.egg-info*
thewalrus.egg-info
__pycache__
thewalrus/*.so

tests/*.o
coverage_html_report
coverage.xml
.coverage*

docs/_build
docs/_static/thumbs
docs/doxyoutput/*
docs/.ipynb_checkpoints/*
docs/code/api/*

.idea
.mypy_cache/
.DS_Store
