*~
*.pyc
docs/_build
build
dist
thewalrus.egg-info
.idea
examples/*ipynp*
.eggs/*
*.egg-info*
thewalrus/__pycache__/*
thewalrus/*.so
tests/__pycache__/*
.coverage
coverage_html_report
include/*.o
tests/*.o
tests/cpptests
docs/doxyoutput/*
docs/libwalrus_cpp_api/*
docs/.ipynb_checkpoints/*
coverage.xml
docs/code/api/*
thewalrus/libwalrus.cpp
