environment:
  global:
      APPVEYOR_SAVE_CACHE_ON_ERROR: true
      APPVEYOR_SKIP_FINALIZE_ON_EXIT: true
      TEST_TIMEOUT: 1000
      CIBW_BEFORE_BUILD: "pip install numpy scipy cython"
      CIBW_SKIP: "cp27-* *i686"
      CIBW_TEST_REQUIRES: "scipy"
      CIBW_TEST_COMMAND: "python -m unittest discover {project}/hafnian/tests"

cache:
  - '%LOCALAPPDATA%\pip\Cache'

matrix:
  fast_finish: false

build_script:
  - set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;%PATH%
  - pip install numpy scipy cython cibuildwheel==0.9.2
  - cibuildwheel --output-dir wheelhouse

artifacts:
  - path: "wheelhouse\\*.whl"
    name: Wheels
