sphinxcontrib-bibtex
sphinx==1.8.5
ipykernel
nbsphinx
cython>=0.20
numba>=0.49.1
numpy>=1.9
sympy>=1.5.1
repoze.lru>=0.7
scipy>=1.2.1
breathe==4.12.0
exhale
version_information
sphinx-copybutton
dask[delayed]
