docutils
sphinxcontrib-bibtex
sphinx
ipykernel
nbsphinx
numba>=0.61.2
numpy>=2.2.5
sympy>=1.14.0
scipy>=1.15.3
Jinja2
version_information
sphinx-copybutton
dask[delayed]>=2025.4.1
markupsafe==2.0.1
xanadu-sphinx-theme==0.1.0
