name: build
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  linux-wheels-x86-64:
    name: wheels linux
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [x86_64]
    runs-on: ${{ matrix.os }}

    env:
      CIBW_BUILD: 'cp37-* cp38-* cp39-*'
      # Python build settings
      CIBW_BEFORE_BUILD: |
        pip install numpy==1.19.5 scipy cython
      # Testing of built wheels
      CIBW_TEST_REQUIRES: numpy scipy pytest pytest-cov pytest-randomly flaky
      CIBW_TEST_COMMAND: python -m pytest --randomly-seed=137 {project}/thewalrus
      CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
      CIBW_BUILD_VERBOSITY: 1

      # wheelhouse uploader
      WHEELHOUSE_UPLOADER_USERNAME: ${{ secrets.WHEELHOUSE_UPLOADER_USERNAME }}
      WHEELHOUSE_UPLOADER_SECRET: ${{ secrets.WHEELHOUSE_UPLOADER_SECRET }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.9'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==1.12.0

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_ARCHS_LINUX: ${{matrix.arch}}

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

      - name: Upload Wheels
        if: github.ref == 'refs/heads/master'
        run: |
          pip install --user https://github.com/joerick/libcloud/archive/v1.5.0-s3fix.zip wheelhouse-uploader
          python -m wheelhouse_uploader upload --provider-name S3 --local-folder ./wheelhouse/ xanadu-wheels

  mac-wheels-x86-64:
    name: wheels macos
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11]
        arch: [x86_64]
    runs-on: ${{ matrix.os }}

    env:
      CIBW_BUILD: 'cp37-* cp38-* cp39-*'
      # MacOS specific build settings
      CIBW_BEFORE_ALL_MACOS: |
        brew install gmp gcc libomp;
      # Python build settings
      CIBW_BEFORE_BUILD: |
        pip install numpy==1.19.5 scipy cython
      # Testing of built wheels
      CIBW_TEST_REQUIRES: numpy scipy pytest pytest-cov pytest-randomly flaky
      CIBW_TEST_COMMAND: |
        python -m pytest --randomly-seed=137 {project}/thewalrus
      CIBW_BUILD_VERBOSITY: 1

      # wheelhouse uploader
      WHEELHOUSE_UPLOADER_USERNAME: ${{ secrets.WHEELHOUSE_UPLOADER_USERNAME }}
      WHEELHOUSE_UPLOADER_SECRET: ${{ secrets.WHEELHOUSE_UPLOADER_SECRET }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.9'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==1.12.0

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_ARCHS_MACOS: ${{matrix.arch}}

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

      - name: Upload Wheels
        if: github.ref == 'refs/heads/master'
        run: |
          pip install --user https://github.com/joerick/libcloud/archive/v1.5.0-s3fix.zip wheelhouse-uploader
          python -m wheelhouse_uploader upload --provider-name S3 --local-folder ./wheelhouse/ xanadu-wheels

  win-wheels:
    name: wheels windows
    strategy:
      matrix:
        os: [windows-latest]
    runs-on: ${{ matrix.os }}

    env:
      CIBW_BUILD: 'cp37-* cp38-* cp39-*'
      # Python build settings
      CIBW_BEFORE_BUILD: |
        pip install numpy==1.19.5 scipy cython
      # Testing of built wheels
      CIBW_TEST_REQUIRES: |
        numpy scipy pytest pytest-cov pytest-randomly flaky
      CIBW_TEST_COMMAND: |
        python -m pytest --randomly-seed=137 {project}/thewalrus
      CIBW_BUILD_VERBOSITY: 1

      # wheelhouse uploader
      WHEELHOUSE_UPLOADER_USERNAME: ${{ secrets.WHEELHOUSE_UPLOADER_USERNAME }}
      WHEELHOUSE_UPLOADER_SECRET: ${{ secrets.WHEELHOUSE_UPLOADER_SECRET }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.9'

      - name: Build wheels
        uses: pypa/cibuildwheel@v1.12.0

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

      - name: Upload Wheels
        if: github.ref == 'refs/heads/master'
        run: |
          pip install --user https://github.com/joerick/libcloud/archive/v1.5.0-s3fix.zip wheelhouse-uploader
          python -m wheelhouse_uploader upload --provider-name S3 --local-folder ./wheelhouse/ xanadu-wheels