name: Tests
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  python-tests:
    name: Python tests
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout The Walrus
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Before install
        run: |
          sudo apt-get -qq update;
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test;
          sudo apt-get install gcc;

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov pytest-randomly wheel codecov

      - name: Install The Walrus
        run: |
          pip install -e .

      - name: Run tests
        run: python3 -m pytest thewalrus --randomly-seed=137 --cov=thewalrus --cov-report term-missing --cov-report=html:coverage_html_report --cov-report=xml:coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml

  cpp-tests:
    name: C++ tests
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout The Walrus
        uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          sudo apt-get -y -q update
          sudo apt-get -y -q install cmake gcc libomp-dev libgtest-dev

      - name: Build unit tests
        run: |
          cd tests
          GOOGLETEST_DIR=$HOME/googletest make cpptests

      - name: Run unit tests
        run: |
          cd tests && ./cpptests
