name: Wheels Win
on:
  push:
    branches:
      - master
  pull_request:

env:
  CIBW_BUILD: 'cp37-* cp38-* cp39-*'

  # Python build settings
  CIBW_BEFORE_BUILD: |
    pip install numpy==1.19.5 scipy cython

  # Testing of built wheels
  CIBW_TEST_REQUIRES: |
    numpy scipy pytest pytest-cov pytest-randomly flaky

  CIBW_TEST_COMMAND: |
    python -m pytest --randomly-seed=137 {project}/thewalrus

  CIBW_BUILD_VERBOSITY: 1

jobs:
  win-wheels:
    strategy:
      matrix:
        os: [windows-latest]
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Build wheels
        uses: pypa/cibuildwheel@v1.12.0

      - uses: actions/upload-artifact@v2
        if: github.ref == 'refs/heads/master'
        with:
          name: ${{ runner.os }}-wheels.zip
          path: ./wheelhouse/*.whl
